@media screen and (max-width: 1500px) {
  .story {
    padding: 0 0 100px;
    max-height: none;
    height: auto;
  }
  .story__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .story__text {
    margin-bottom: 30px;
    text-align: center;
    max-width: 100%;
  }
  .story__desc {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 1400px) {
  .header__logo {
    margin-right: 80px;
  }
  .header__nav {
    margin: 0 0 0 15px;
  }
  .main-header__wrapper {
    height: 650px;
  }
  .btn {
    margin: 0 50px;
  }
  .steps__main {
    gap: 40px;
  }
  .steps__header-title {
    font-size: 45px;
  }
  .steps__header-text {
    max-width: 550px;
  }
  .steps__main-first__text,
  .steps__main-second__text,
  .steps__main-third__text {
    max-width: 350px;
  }
  .steps__main__imgBig {
    max-width: 350px;
  }
  .story__title {
    font-size: 45px;
  }
  .way__wrapper {
    margin-left: 30px;
    gap: 30px;
  }
  .way__photo {
    max-width: 100%;
    max-height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .way__info {
    top: 80%;
    left: 0;
  }
  .way__text-title {
    font-size: 45px;
  }
}
@media screen and (max-width: 1200px) {
  .header__logo {
    margin-right: 60px;
  }
  .header__nav-item {
    margin-left: 36px;
  }
  .main-header {
    margin-bottom: 100px;
  }
  .btn {
    margin: 0 30px;
  }
  .steps__header {
    margin: 0 auto 50px;
    padding: 0 20px;
    display: block;
  }
  .steps__header-title {
    margin-bottom: 20px;
    max-width: 100%;
    text-align: left;
  }
  .steps__header-text {
    padding-top: 0;
    margin-left: 0;
    max-width: 100%;
    text-align: left;
  }
  .steps__main {
    -ms-grid-columns: 1fr auto;
    grid-template-columns: 1fr auto;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .steps__main > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .steps__main > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .steps__main > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .steps__main > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .steps__main-first {
    max-width: 50%;
  }
  .steps__main-second {
    padding-top: 100px;
    margin-bottom: 0;
    max-width: 50%;
  }
  .steps__main-third {
    padding-top: 0;
  }
  .steps__main-first__text,
  .steps__main-second__text,
  .steps__main-third__text {
    max-width: none;
    width: 450px;
  }
  .way__wrapper {
    margin-left: 0;
    gap: 20px;
  }
  .way__photo {
    width: 400px;
  }
}
@media screen and (max-width: 1000px) {
  .header__logo {
    margin-right: 30px;
  }
  .header__nav-item {
    margin-left: 25px;
  }
  .header__btn-sign {
    padding: 13px 20px;
  }
  .header__btn-trial {
    padding: 13px 30px;
  }
  .steps__main-first__text,
  .steps__main-second__text,
  .steps__main-third__text {
    width: 370px;
  }
  .story__wrapper {
    height: 800px;
  }
  .story__video {
    max-width: 100%;
    max-height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .way__photo {
    width: 325px;
  }
  .footer {
    padding: 50px 0;
  }
}
@media screen and (max-width: 900px) {
  .header__logo {
    margin-right: 15px;
  }
  .header__nav-item {
    margin-left: 20px;
    font-size: 17px;
  }
  .header__btn-sign {
    padding: 13px 15px;
    font-size: 17px;
  }
  .header__btn-trial {
    padding: 13px 20px;
    font-size: 17px;
  }
  .main-header {
    margin-bottom: 50px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-image: none;
  }
  .main-header__wrapper {
    margin-bottom: 30px;
    padding-top: 70px;
    max-width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .btn {
    margin: 0;
  }
  .main-header::after {
    content: " ";
    max-width: 100%;
    display: block;
    height: 350px;
    background-image: url("../img/bg-small.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }
  .main-header__title {
    padding-top: 50px;
    font-size: 60px;
    line-height: 70px;
  }
  .main-header__text {
    max-width: 90%;
  }
  .steps {
    margin-bottom: 50px;
  }
  .steps__main {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .steps__main-first,
  .steps__main-second,
  .steps__main-third {
    margin-bottom: 20px;
    max-width: 100%;
  }
  .steps__main-first__position,
  .steps__main-second__position,
  .steps__main-third__position {
    margin-bottom: 30px;
  }
  .steps__main-second {
    padding-top: 0;
    margin: 0 0 0 auto;
  }
  .steps__main-first__text,
  .steps__main-second__text,
  .steps__main-third__text {
    max-width: 100%;
    width: 470px;
  }
  .story__video-icon {
    max-width: 60px;
  }
  .way {
    margin-bottom: 50px;
  }
  .way__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .way__photo-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }
  .way__info {
    position: initial;
  }
  .way__text {
    margin-bottom: 20px;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .way__text-subtitle {
    margin-bottom: 0;
  }
  .way__text-desc {
    max-width: 100%;
  }
}
@media screen and (max-width: 768px) {
  body.lock {
    overflow: hidden;
  }
  .header__body {
    height: 50px;
  }
  .header__logo {
    margin: 0;
    position: relative;
    z-index: 3;
  }
  .header__nav {
    padding: 95px 0 0 0;
    position: fixed;
    top: -120%;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    -webkit-box-shadow: -2px 2px 4px 4px rgba(165, 165, 165, 0.25);
            box-shadow: -2px 2px 4px 4px rgba(165, 165, 165, 0.25);
    -webkit-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    overflow: auto;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .header__nav.active {
    top: 0;
  }
  .header__nav-list {
    display: block;
  }
  .header__nav-item {
    margin: 0 15px 20px 15px;
    font-size: 20px;
  }
  .header__btn {
    margin: 0 10px 0 auto;
    position: relative;
    z-index: 3;
  }
  .header__btn-sign {
    padding: 13px 30px;
    font-size: 20px;
  }
  .header__btn-trial {
    padding: 13px 35px;
    font-size: 20px;
  }
  .header__menu-btn {
    display: block;
    background-color: transparent;
    border: none;
    position: relative;
    z-index: 3;
    width: 24px;
    height: 18px;
  }
  .header__menu-btn span {
    margin: 0;
    position: absolute;
    background-color: #000000;
    left: 0;
    width: 100%;
    top: 8px;
    height: 2px;
    border-radius: 4px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__menu-btn:before, .header__menu-btn:after {
    content: "";
    background-color: #000000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    border-radius: 4px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__menu-btn:before {
    top: 0;
  }
  .header__menu-btn:after {
    bottom: 0;
  }
  .header__menu-btn.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__menu-btn.active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 8px;
  }
  .header__menu-btn.active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 8px;
  }
  .steps__header-title {
    font-size: 40px;
    line-height: 1.3;
  }
  .story {
    margin-bottom: 80px;
    padding: 0 0 50px;
  }
  .story__wrapper {
    height: 600px;
  }
  .story__title {
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 1.3;
  }
  .story__text {
    padding-top: 50px;
  }
  .story__desc {
    margin-bottom: 35px;
    font-size: 21px;
  }
  .story__video-icon {
    top: 39%;
    left: 44%;
    max-width: 45px;
  }
  .way__text-title {
    font-size: 40px;
    line-height: 1.3;
  }
  .footer__logo-img {
    margin-bottom: 50px;
  }
  .footer__item {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 650px) {
  .main-header::after {
    background: none;
    height: 0;
  }
  .main-header__text {
    font-size: 21px;
  }
  .steps__header {
    padding: 0;
  }
  .steps__header-title {
    font-size: 40px;
  }
  .steps__header {
    padding: 0;
  }
  .way__photo-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 555px) {
  .header__btn {
    padding: 15px 0 0 15px;
    position: fixed;
    top: -120%;
    right: 0;
    width: 100%;
    background-color: #FFFFFF;
    -webkit-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
  }
  .header__btn.active {
    top: 280px;
  }
  .steps__main-first__position,
  .steps__main-second__position,
  .steps__main-third__position {
    margin-bottom: 20px;
  }
  .steps__main-first__text,
  .steps__main-second__text,
  .steps__main-third__text {
    width: 100%;
  }
  .steps__main__imgBig {
    margin: 0 auto;
    max-width: 290px;
  }
  .story__text {
    padding-top: 40px;
  }
  .story__desc {
    margin-bottom: 25px;
    font-size: 19px;
  }
  .way__text-title {
    font-size: 36px;
  }
}
@media screen and (max-width: 450px) {
  .header__menu-btn {
    width: 18px;
    height: 15px;
  }
  .header__menu-btn span {
    top: 6.5px;
  }
  .header__menu-btn.active:before {
    top: 6.5px;
  }
  .header__menu-btn.active:after {
    bottom: 6.5px;
  }
  .main-header__title {
    padding-top: 20px;
    font-size: 45px;
    line-height: 1.2;
  }
  .main-header__text {
    margin-bottom: 30px;
  }
  .steps__header-title {
    font-size: 33px;
  }
  .steps__header-text {
    font-size: 18px;
  }
  .steps__main-first__text,
  .steps__main-second__text,
  .steps__main-third__text {
    font-size: 18px;
  }
  .story__title {
    margin-bottom: 15px;
    font-size: 33px;
  }
  .story__video-icon {
    max-width: 30px;
  }
  .way__text-title {
    font-size: 29px;
  }
}
@media screen and (max-width: 370px) {
  .header__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 15px 20px 0 20px;
  }
  .header__btn-sign {
    margin-bottom: 5px;
  }
  .way__text-title {
    font-size: 33px;
  }
  .footer__item {
    margin-bottom: 15px;
  }
}